body {
	font-family: "Arial";
}

h1 {
	font-family: "Arial Black";
	color: #1a1a1a;
	font-size: 4em;
	background: #f2e6e6;
	line-height: 150px;
	margin: 0px 0px 0px 10px;
	padding-left: 20px;
}

h2 {
	color: #313131;
	font-size: 2em;
	margin-top: 50px;
	border-bottom: 2px red dotted;
	overflow: hidden;
}

p {
	color: #464646;
	line-height: 150%;
	padding-top: 10px;
	padding-left: 60px;
}

#intro {
	font-size: larger;
	padding-bottom: 10px;
	background: #c8c8c8;
	border-left: solid 25px #4c0000;
	margin-left: 10px;
	padding-left: 25px;
}

.highlight {
	color: #4c0000;
}

p a {
	color: #330000;
	text-decoration: none;
	border-bottom: 1px red dotted;
}

p a:visited {
	color: #b20000;
}

.sidebar {
	width: 200px;
	float: right;
	background: #b20000;
	padding: 25px;
	margin-left: 15px;
	margin-top: 50px;
	color: white;
}

.highlight {
	color: orangered !important;
}
